html {
    background-color: #E2EFDA;
    font-family: "Manrope", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
header h1 {
    margin-left: 15px;
    font-size: 38px;
    color: #27391C;
}
.descricao {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 2px;
}
.contatos {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nome .git {
    display: flex;
    flex-direction: row;
}
.nome a, .git a {
    text-decoration: none;
    color: #27391C;
}
.nome i, .git i {
    margin: 3px;
}